<div id="messages">
  <ul class="media-list">
    <% messages.each do |message| %>
      <li class="message">
        <p><%= message.user ? message.user.name : "Wooops" %>: <%= message.message %></p>
      </li>
    <% end %>
  </ul>
</div>