<div class="fluid-container">
  <div class="row">
    <div class="col-md-4">
      <div id="topics-container">
        <%= render 'new_topic' %>
        <%= render 'topics' %>
      </div>
    </div>
    <div class="col-md-8">
      <div id="messages-container">
        <%= render 'messages' %>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>